.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 200px;
  color: rgb(35, 170, 170);
  padding: 220px;
  cursor: default;
  transition: all 1s;
  transform: rotate(-2.5deg);
}
  .logo:hover{
    color: rgb(0, 255, 255);
  }
.down{
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
  .down-img{
    height: 40px;
    margin-top: -20px;
  }
.contents{
  margin: 20px 0px 0px 0px;  
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  .intro{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    position: relative;
    font-weight: 500;
    padding: 35px 100px 35px 25px;
    margin: 30px -20px 20px 25px;
    background-color: rgb(5, 5, 5);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    cursor: default;
    transition: all 0.5s;
  }
      .intro:hover{
        background-color: rgb(10, 20, 20);
        padding: 40px 100px 40px 25px;
      }
      .intro:active{
        background-color: rgb(10,40, 40);
      }
    .intro-txt{
      display: flex;
      flex: 1;
      left: 1250px;
      width: fit-content;
      font-size: 35px;
      color: rgb(160, 200, 200);
      opacity: 0;
      transition: all 0.5s;
      transition-delay: 0.25s;
    }
    .intro-pic{
      display: flex;
      align-items: center;
      position: absolute;
      left: 10px;
      height: 45px;
      padding: 1px 7px;
      object-fit: cover;
      transition: all 1.5s;
      white-space: nowrap;
      pointer-events: none;
      opacity: 1;
    }
      .intro-pic-txt{
        background-color: rgb(120, 200, 200);
        color: black;
        font-size: 110px;
        font-weight: 900;
        padding: 10px 50px;
        border-radius: 5px;
        margin-right: 10px;
      }
      .intro-pic-img{
        height: 95px;
        border-radius: 2px;
        margin-right: 10px;
      }
    
    .intro:hover .intro-txt{
      opacity: 1;
      left: 20px;
    }
    .intro:hover .intro-pic{
      left: 2000px;
      opacity: 0;
    }
  
  .page-description{
    margin: 20px 20px 25px -10px;
    padding: 20px 50px 20px 40px;
    background-color: rgb(5, 5, 5);
    color: rgb(15, 15, 15);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 25px;
    font-weight: 400;
    cursor: default;
    transition: all 0.5s;
  }
      .page-description:hover{
        background-color: rgb(10, 25, 25);
        color: rgb(160, 200, 200);
        padding: 25px 50px 25px 40px;
      }
      .page-description:active{
        background-color: rgb(10, 45, 45);
      }
    .page-description-title{
      color: rgb(120, 200, 200);
      font-size: 35px;
      margin-bottom: 10px;
    }

  .projects{
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    margin: 20px 20px;
    font-size: 25px;
    background-color: rgb(5, 5, 5);
    border-color: rgba(120,200,200,0.25);
    color: rgb(15, 15, 15);
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    cursor: default;
    transition: all 0.5s;
  }
      .projects:hover{
        background-color: rgb(5, 10, 10);
        color: rgb(160, 200, 200);
        padding: 20px 30px;
      }
    .projects-title{
      padding: 10px 0px;
      font-size: 35px;
      font-weight: 900;
      color: rgb(120, 200, 200);
      cursor: default;
    }
    .projects-links{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      padding: 10px 20px;
    }
      .project-button{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 90px;
        padding: 10px 30px;
        background-color: rgb(25, 35, 35);
        border-radius: 10px;
        color: rgb(60, 60, 60);
        font-weight: 100;
        font-size: 15px;
        object-fit: cover;
        opacity: 0.05;
        transition: all 0.4s;
        margin: 5px;
      }
          .project-button-img{
            height: 90%;
            width: 100%;
          }
        .project-button:hover{
          background-color: rgb(20,50,50);
          padding: 10px 25px;
          color: rgb(100, 200, 200);
          font-size: 20px;
        }
        .project-button:active{
          background-color: rgb(75,75,75);
        }
      .projects:hover .project-button{
        opacity: 1;
      }
    .projects-disclaimer{
      display: flex;
      justify-content: space-between;
      padding: 10px 25px;
      font-size: 15px;
      font-weight: 100;
      cursor: default;
    }
      .abbreviations{
        font-size: 12px;
        margin: 0;
        padding: 0;
        transition: all 0.35s;
      }
        .abbreviations:hover{
          font-size: 15px;
        }


@media(max-width:850px){
  .logo{
    font-size: 70px;
    padding: 80px;
  }
  .intro-txt{
    font-size: 16px;
  }
  .intro-pic-txt{
    font-size: 55px;
    padding: 25px 55px;
  }
  .intro-pic-img{
    height: 60px;
  }
  .page-description{
    font-size: 14px;
  }
  .projects{
    font-size: 20px;
  }
  .projects-description{
    font-size: 14px;
  }
  .projects-links{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .project-button{
    font-size: 5px;
    padding: 0px;
  }
  .project-button-img{
    height: 70%;
    width: 70%;
  }
}