.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 125px;
  font-weight: 600;
  background: url('bg4.jpg');
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding: 250px 40px;
  cursor: default;
  transition: all 1s;
}
  .logo-profile-pic{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    min-width: 200px;
    border-radius: 50%;
    margin-right: 25px;
    box-shadow: 0px 0px 10px rgba(150, 150, 150, 0.8);
    transition: all 0.5s;
  }
    .logo-profile-pic-img{
      height: 100%;
      width: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
.direction{
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
  .down{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: fit-content;
    transition: all 0.5s;
  }
    .down-img{
      height: 40px;
      margin-top: -20px;
    }
    .down-tooltip{
      position: absolute;
      top: -10px;
      color: rgb(10, 10, 10);
      border-radius: 10px;
      padding: 2px 5px;
      font-size: 0;
      opacity: 0;
      white-space: nowrap;
      pointer-events: none;
      transition: all 0.5s;
      transition-delay: 0.5s;
    }
    .down:hover .down-tooltip{
      top: -35px;
      font-size: 10px;
      opacity: 1;
      transition-delay: 0.5s;
    }
.contents{
  margin: 20px 0px 0px 0px;  
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  .intro{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    position: relative;
    font-weight: 500;
    padding: 15px 100px 15px 25px;
    margin: 30px -20px 20px 25px;
    background-color: rgba(255, 255, 255,0.5);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 0px 0px 10px rgba(150, 150, 150, 0.5);
    cursor: default;
    transition: all 0.5s;
  }
      .intro:hover{
        background-color: rgb(10, 10, 10);
        padding: 40px 100px 20px 25px;
      }
      .intro:active{
        background-color: rgb(20,20, 20);
      }
    .intro-txt{
      display: flex;
      flex-direction: column;
      flex: 1;
      left: 1250px;
      width: fit-content;
      font-size: 25px;
      font-weight: 300;
      color: rgb(255, 255, 255);
      opacity: 0;
      transition: all 0.5s;
      transition-delay: 0.25s;
    }
    .intro-pic{
      display: flex;
      align-items: center;
      position: absolute;
      left: 5px;
      height: 45px;
      padding: 1px 7px;
      object-fit: cover;
      transition: all 1.5s;
      white-space: nowrap;
      pointer-events: none;
      opacity: 1;
    }
      .intro-pic-txt{
        background: url('bg4.jpg');
        color: rgb(255, 255, 255);
        font-size: 50px;
        padding: 40px 60px;
        border-radius: 5px;
        margin-right: -30px;
      }
      .intro-pic-img{
        height: 95px;
        border-radius: 2px;
        margin-right: 10px;
      }
    
    .intro:hover .intro-txt{
      opacity: 1;
      left: 20px;
    }
    .intro:hover .intro-pic{
      left: 2000px;
      opacity: 0;
    }
  
  .page-description{
    margin: 20px 80px 25px -10px;
    padding: 20px 50px 20px 40px;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(0, 0, 0);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px 0px 10px rgba(150, 150, 150, 0.5);
    font-size: 22px;
    font-weight: 300;
    cursor: default;
    transition: all 0.5s;
  }
      .page-description:hover{
        background-color: rgb(10, 10, 10);
        color: rgb(255, 255, 255);
        padding: 30px 50px 30px 40px;
        transition: all 0.5s;
      }
      .page-description:active{
        background-color: rgb(20, 20, 20);
      }
    .page-description-title{
      font-size: 35px;
      font-weight: 500;
      margin-bottom: 10px;
      transition: all 0.25s;
    }
    .page-description:hover .page-description-title{
      color: white;
    }

  .projects{
    display: flex;
    flex-direction: column;
    padding: 20px 30px 10px 30px;
    margin: 20px 80px 20px 20px;
    font-size: 22px;
    font-weight: 300;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 10px rgba(150, 150, 150, 0.5);
    border-radius: 5px;
    cursor: default;
    transition: all 0.5s;
  }
      .projects:hover{
        background-color: black;
        color: white;
        padding: 30px 30px 20px 30px;
      }
    .projects-title{
      padding: 10px 0px;
      font-size: 35px;
      font-weight: 500;
      cursor: default;
    }
      .projects:hover .projects-title{
        color: white;
        transition: all 0.25s;
      }
    .projects-links{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      padding: 10px 20px;
    }
      .project-button{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 90px;
        padding: 10px 30px;
        background-color: rgb(25, 25, 25);
        border-radius: 10px;
        color: rgb(200, 200, 200);
        font-weight: 100;
        font-size: 12px;
        object-fit: cover;
        opacity: 0.045;
        transition: all 0.4s;
        margin: 5px;
      }
          .project-button-img{
            height: 90%;
            width: 100%;
          }
        .project-button:hover{
          background-color: rgb(50,50,50);
          padding: 10px 25px;
          color: rgb(255, 255, 255);
          font-size: 15px;
        }
        .project-button:active{
          background-color: rgb(75,75,75);
        }
      .projects:hover .project-button{
        opacity: 1;
      }
    .projects-disclaimer{
      display: flex;
      justify-content: space-between;
      padding: 10px 25px;
      font-size: 12px;
      font-weight: 100;
      color: rgb(255, 255, 255);
      cursor: default;
    }
      .abbreviations{
        font-size: 10px;
        color: rgb(255, 255, 255);
        margin: 0;
        padding: 0;
        transition: all 0.25s;
      }
        .abbreviations:hover{
          font-size: 12px;
        }
  
  .thankyou{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 20px;
    margin-top: 75px;
    cursor: default;
  }
  .contact{
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 12px;
    margin-top: 75px;
    margin-left: 20px;
    cursor: pointer;
  }
    .contact-title{
      font-size: 15px;
      cursor: default;
    }


@media(max-width:850px){
  .logo{
    font-size: 60px;
    padding: 80px 30px;
  }
  .logo-profile-pic{
    height: 100px;
    width: 100px;
    min-width: 100px;
  }
  .down-img{
    height: 20px;
  }
  .intro{
    padding: 18px 18px 18px 25px;
  }
  .intro-txt{
    font-size: 15px;
  }
  .intro-pic{
    left: 6px;
  }
  .intro-pic-txt{
    font-size: 25px;
    padding: 40px 60px;
    margin-right: -17px;
  }
  .intro-pic-img{
    height: 60px;
  }
  .page-description{
    font-size: 14px;
    margin-right: 40px;
  }
  .projects{
    font-size: 14px;
    margin-right: 40px;
  }
  .projects-links{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .project-button{
    font-size: 10px;
    padding: 0px 5px;
  }
  .project-button:hover{
    padding: 0px;
    font-size: 12px;
  }
  .project-button-img{
    height: 65%;
    width: 75%;
  }
  .abbreviations{
    margin-left: 20px;
    font-size: 5px;
  }
  .abbreviations:hover{
    font-size: 8px;
  }
  .thankyou{
    margin-top: 50px;
  }
}