.contents{
  margin: 90px 0px 0px 0px;  
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  .intro{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    position: relative;
    font-weight: 500;
    padding: 20px 100px 20px 25px;
    margin: 30px -20px 20px 25px;
    background-color: rgb(21, 21, 21);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    cursor: default;
    transition: all 0.5s;
    transform: rotate(-0.5deg);
  }
      .intro:hover{
        background-color: rgb(35, 35, 35);
        padding: 25px 100px 25px 25px;
      }
      .intro:active{
        background-color: rgb(50, 50, 50);
      }
    .intro-txt{
      display: flex;
      flex: 1;
      left: 1250px;
      width: fit-content;
      font-size: 30px;
      opacity: 0;
      transition: all 0.5s;
      transition-delay: 0.25s;
    }
    .intro-pic{
      display: flex;
      align-items: center;
      position: absolute;
      left: 10px;
      height: 45px;
      padding: 1px 7px;
      object-fit: cover;
      transition: all 1.5s;
      white-space: nowrap;
      pointer-events: none;
      opacity: 1;
    }
      .intro-pic-txt{
        background-color: white;
        color: black;
        font-size: 45px;
        font-weight: 900;
        padding: 10px 30px;
        border-radius: 5px;
        margin-right: 10px;
      }
      .intro-pic-img{
        height: 45px;
        border-radius: 2px;
        margin-right: 10px;
      }
    
    .intro:hover .intro-txt{
      opacity: 1;
      left: 20px;
    }
    .intro:hover .intro-pic{
      left: 2000px;
      opacity: 0;
    }
  
  .page-description{
    margin: 20px 20px 25px -10px;
    padding: 20px 30px;
    background-color: rgb(20, 20, 20);
    color: rgb(12, 12, 12);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 25px;
    font-weight: 400;
    cursor: default;
    transform: rotate(-0.5deg);
    transition: all 0.5s;
  }
      .page-description:hover{
        background-color: rgb(35, 35, 35);
        color: white;
        padding: 25px 30px;
      }
      .page-description:active{
        background-color: rgb(50, 50, 50);
      }

  .projects{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    margin: 20px 20px;
    font-size: 35px;
    font-weight: 900;
    background-color: rgb(10,10,10);
    border-color: rgba(255,255,255,0.5);
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    cursor: default;
    transition: all 0.5s;
  }
      .projects:hover{
        background-color: rgb(21, 21, 21);
        padding: 20px;
      }
    .projects-description{
      padding: 10px 0px;
      font-size: 25px;
      font-weight: 400;
      cursor: default;
    }
    .projects-links{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      padding: 10px 20px;
    }
      .project-button{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 90px;
        padding: 10px 30px;
        background-color: rgb(35, 35, 35);
        border-radius: 10px;
        color: white;
        font-weight: 100;
        font-size: 15px;
        object-fit: cover;
        transition: all 0.4s;
        margin: 5px;
      }
          .project-button-img{
            height: 90%;
            width: 100%;
          }
        .project-button:hover{
          background-color: rgb(50,50,50);
          padding: 10px 25px;
          font-size: 20px;
        }
        .project-button:active{
          background-color: rgb(75,75,75);
        }
    .projects-disclaimer{
      display: flex;
      justify-content: space-between;
      padding: 10px 25px;
      font-size: 15px;
      font-weight: 100;
      cursor: default;
    }
      .abbreviations{
        font-size: 12px;
        margin: 0;
        padding: 0;
        transition: all 0.35s;
      }
        .abbreviations:hover{
          font-size: 15px;
        }


@media(max-width:850px){
  .intro-txt{
    font-size: 16px;
  }
  .intro-pic-txt{
    font-size: 35px;
    padding: 2px 6px;
  }
  .page-description{
    font-size: 14px;
  }
  .projects{
    font-size: 20px;
  }
  .projects-description{
    font-size: 14px;
  }
  .projects-links{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .project-button{
    font-size: 5px;
    padding: 0px;
  }
  .project-button-img{
    height: 70%;
    width: 70%;
  }
}