.contents{
  margin: 90px 0px 0px 0px;  
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  .intro{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 20px;
    font-weight: 500;
    padding: 20px 100px 20px 25px;
    margin: 30px -20px 20px 25px;
    background-color: rgb(21, 21, 21);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    cursor: default;
    transition: all 0.5s;
  }
      .intro:hover{
        background-color: rgba(255,255,255,0.05);
      }
    .intro-txt{
      display: flex;
      flex: 1;
      left: 1250px;
      width: fit-content;
      opacity: 0;
      transition: all 1s;
      transition-delay: 0.25s;
    }
    .intro-pic{
      position: absolute;
      left: 10px;
      height: 45px;
      padding: 1px 3px;
      object-fit: cover;
      transition: all 1.5s;
      white-space: nowrap;
      pointer-events: none;
      opacity: 1;
    }
      .intro-pic-img{
        height: 45px;
        border-radius: 2px;
        margin-right: 10px;
      }
    .intro:hover .intro-txt{
      opacity: 1;
      left: 20px;
    }
    .intro:hover .intro-pic{
      left: 1500px;
      opacity: 0;
    }
  
  .page-description{
    margin: 20px 20px 25px -10px;
    padding: 20px 30px;
    background-color: rgb(21, 21, 21);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    cursor: default;
    transition: all 0.5s;
  }
      .page-description:hover{
        background-color: rgb(255, 255, 255, 0.05);
      }

  .projects{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    margin: 20px 20px;
    font-size: 30px;
    font-weight: 900;
    border-color: rgba(255,255,255,0.5);
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    cursor: default;
    transition: all 0.5s;
  }
      .projects:hover{
        background-color: rgba(255,255,255,0.025);
      }
    .projects-description{
      padding: 10px 0px;
      font-size: 18px;
      font-weight: 400;
      cursor: default;
    }
    .projects-links{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      padding: 10px 20px;
    }
      .project-button{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 90px;
        padding: 10px 25px;
        background-color: rgb(77, 77, 77);
        border-radius: 10px;
        color: white;
        font-weight: 100;
        font-size: 12px;
        object-fit: cover;
        transition: all 0.4s;
        margin: 5px;
      }
          .project-button-img{
            height: 100%;
            width: 100%;
          }
        .project-button:hover{
          background-color: rgb(133, 133, 133);
        }
    .projects-disclaimer{
      display: flex;
      justify-content: space-between;
      padding: 10px 25px;
      font-size: 12px;
      font-weight: 100;
      cursor: default;
    }
      .abbreviations{
        font-size: 8px;
        margin: 0;
        padding: 0;
      }


@media(max-width:750px){
  .intro{
    font-size: 16px;
  }
  .page-description{
    font-size: 14px;
  }
  .projects{
    font-size: 20px;
  }
  .projects-description{
    font-size: 14px;
  }
  .project-button{
    font-size: 0px;
    padding: 0px;
  }
  .project-button-img{
    height: 70%;
    width: 70%;
  }
  .projects-disclaimer{
    font-size: 10px;
  }
}