html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Montserrat', sans-serif;
  background: url('bg3.jpg');
  color: white;
  overflow-x: hidden;
  margin-bottom: 20px;
  height: max-content;
  transition: all 0.25s;
}
.disclaimer{
  font-size: 12px;
  font-weight: 300;
  padding: 5px 15px;
  color: black;
  margin-top: 10px;
}

/*SCROLLBAR SCROLLBAR SCROLLBAR*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
  box-shadow: inset 0px 0px 5px rgb(155, 155, 155);
  transition: all 0.5s;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(25, 25, 25);
}



@media(max-width: 850px){
  .disclaimer{
    margin-top: 10px;
    font-size: 8px;
  }
}