body{
  font-family: Roboto, Arial;
  background-color: rgb(42, 42, 42);
  color: white;
  overflow-x: hidden;
  transition: all 1s;
  margin-bottom: 50px;
}
.disclaimer{
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding-top: 5px;
  background-color: rgba(255,255,255,0.5);
  color: black;
}

/*SCROLLBAR SCROLLBAR SCROLLBAR*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d5d5d5;
  box-shadow: inset 0px 0px 5px rgb(222, 222, 222);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(155, 155, 155);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
}
