body{
  font-family: Roboto, Arial;
  background-color: rgb(42, 42, 42);
  color: white;
  overflow-x: hidden;
  transition: all 1s;
  margin-bottom: 50px;
}
.disclaimer{
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding-top: 5px;
  background-color: rgba(255,255,255,0.5);
  color: black;
}