body{
  font-family: 'Caveat', cursive;
  background-color: rgb(0, 0, 0);
  color: white;
  overflow-x: hidden;
  margin-bottom: 50px;
  height: 2000px;
  transition: all 0.25s;
}
.disclaimer{
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 5px;
  background-color: rgba(55,155,155,0.5);
  color: rgb(155, 255,255);
}

/*SCROLLBAR SCROLLBAR SCROLLBAR*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(10,100,100);
  box-shadow: inset 0px 0px 5px rgb(20, 100, 100);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(55, 155, 155);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 200, 200);
}