header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  height: 75px;
  padding: 5px 10px;
  background-color: black;
  box-shadow: 0px 2px 10px rgba(94, 92, 92, 0.5);
  transition: all 0.5s;
  z-index: 100;
}
    header:hover{
      background-color: rgb(20, 20, 20);
    }
  .profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    font-size: 20px;
  }
    .profile-pic{
      height: 70px;
      width: 70px;
      border-radius: 50px;
      border: 3px solid white;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      cursor: pointer;
      transition: all 0.75s;
    }
      .profile-pic:hover{
        background-color: rgb(255, 255, 255);
      }
      .profile-pic-img{
        height: 60px;
        width: 60px;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.25s;
      }
    .profile-name{
      font-size: 40px;
      font-weight: 700;
      cursor: default;
    }
  
  .social-medias{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
    .social-media-txt{
      font-size: 30px;
      font-weight: 500;
      padding: 5px 10px;
      cursor: default;
    }
    .social-media{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      padding: 5px;
      border-radius: 5px;
      margin: 5px;
      cursor: pointer;
      transition: all 0.4s;
    }
      .social-media:hover{
        background-color: rgba(255, 255, 255, 0.2);
      }
      .social-media-logo{
        height: 40px;
        width: 40px;
      }
      .tooltip{
        position: absolute;
        bottom: -10px;
        margin-bottom: -3px;
        background-color: rgba(255, 255, 255, 0.25);
        color: rgb(255, 255, 255);
        font-size: 15px;
        text-decoration: none;
        padding: 2px 5px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.4s;
        transition-delay: 0.5s;
        white-space: nowrap;
        pointer-events: none;
        opacity: 0;
      }
        .social-media:hover .tooltip{
          opacity: 1;
          bottom: -25px;
          transform: rotate(-7.5deg);
        }

@media(max-width: 755px){
  .profile-pic,
  .profile-pic-img{
    position: absolute;
    top: -100px;
  }
  .profile{
    font-size: 15px;
  }
  .profile-name{
    font-size: 20px;
  }
  .social-media-txt{
    font-size: 15px;
  }
}

@media(min-width: 756px), (max-width:900px){
  .profile{
    font-size: 20px;
  }
  .profile-name{
    font-size: 25px;
  }
  .social-media-txt{
    font-size: 20px;
  }
}