.sidebar{
  display: flex;
  flex-direction: column;
  position: fixed;
  right: -2px;
  top: 150px;
  width: 70px;
  height: fit-content;
  background-color: rgb(10, 10, 10);
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  border: 2px solid rgb(60, 100, 100);
  box-shadow: -2px 0px 10px rgba(120, 200, 200, 0.5);
  transition: all 0.5s;
  z-index: 200;
}
  .sidebar:hover{
    background-color: rgb(10, 20, 20);
    box-shadow: -2px 0px 15px rgba(120, 200, 200, 0.5);
  }
  .social-medias{
    display: flex;
    flex-direction: column;
    padding: 10px 10px 0px 10px;
    justify-content: center;
    color: rgb(120, 200, 200);
    transition: all 0.5s;
  }
    .social-media-rn,
    .social-media-sq{
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 50px;
      width: 50px;
      margin: 10px 0px;
      border-radius: 15px;
      cursor: pointer;
      transition: all 0.5s;
    }
    .social-media-rn{
      border-radius: 50px;
    }
      .social-media-rn:hover,
      .social-media-sq:hover{
        background-color: rgb(20, 40, 40);
      }
      .social-media-logo{
        height: 35px;
        width: 35px;
      }
    .tooltip{
      position: absolute;
      right: 0px;
      bottom: 12px;
      background-color: rgb(20, 20, 20);
      padding: 2px 10px;
      font-size: 20px;
      color: rgb(150, 200, 200);
      border-radius: 5px;
      opacity: 0;
      white-space: nowrap;
      pointer-events: none;
      transition: all 0.5s;
      transition-delay: 0.5s;
    }

    .social-media-rn:hover .tooltip,
    .social-media-sq:hover .tooltip{
      opacity: 1;
      right: 65px;
      transition: all 0.5s;
      transition-delay: 0.55s;
    }



@media(max-width: 850px){
  .sidebar{
    width: 35px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
  }
  .social-medias{
    padding: 0px 5px 0px 5px;
  }
  .social-media{
    height: 25px;
    width: 25px;
    border-radius: 5px;
  }
  .social-media-logo{
    height: 20px;
    width: 20px;
  }
  .tooltip{
    font-size: 10px;
    padding: 1px 5px;
  }
  .social-media:hover .tooltip{
    right: 33px;
  }
}