.sidebar{
  display: flex;
  flex-direction: column;
  position: fixed;
  right: -53px;
  top: 150px;
  width: 70px;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.5);
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  box-shadow: -2px 0px 10px rgba(149, 149, 149, 0.5);
  transition: all 0.5s;
  z-index: 200;
}
  .sidebar:hover{
    right: -2px;
    top: 150px;
    box-shadow: -2px 0px 12px rgba(107, 107, 107, 0.5);
    background-color: rgba(255, 255, 255, 0.8);
  }
  .sidebar-txt{
    position: absolute;
    top: 165px;
    left: -13px;
    transform: rotate(-90deg);
    font-size: 15px;
    font-weight: 500;
    color: rgb(45, 45, 45);
    transition: all 0.5s;
  }
    .sidebar:hover .sidebar-txt{
      opacity: 0;
    }
  .social-medias{
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    justify-content: center;
    color: rgb(255, 255, 255);
    transition: all 0.5s;
  }
    .social-media-rn,
    .social-media-sq{
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 50px;
      width: 50px;
      margin: 10px 0px;
      border-radius: 15px;
      cursor: pointer;
      transition: all 0.5s;
    }
    .social-media-rn{
      border-radius: 50px;
    }
      .social-media-rn:hover,
      .social-media-sq:hover{
        background-color: rgb(235, 235, 235);
      }
      .social-media-logo{
        height: 35px;
        width: 35px;
      }
    .tooltip{
      position: absolute;
      right: 0px;
      bottom: 12px;
      background-color: rgb(20, 20, 20);
      padding: 5px 10px;
      font-size: 15px;
      color: rgb(255, 255, 255);
      border-radius: 5px;
      opacity: 0;
      white-space: nowrap;
      pointer-events: none;
      transition: all 0.5s;
      transition-delay: 0.25s;
    }

    .social-media-rn:hover .tooltip,
    .social-media-sq:hover .tooltip{
      opacity: 1;
      right: 65px;
      transition: all 0.5s;
      transition-delay: 0.75s;
    }



@media(max-width: 850px){
  .sidebar{
    right: -2px;
    top: 50px;
    width: 35px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
  }
  .sidebar:hover{
    top: 50px;
  }
  .sidebar-txt{
    opacity: 0;
  }
  .social-medias{
    padding: 0px 10px 0px 5px;
  }
  .social-media-rn,
  .social-media-sq{
    height: 25px;
    width: 25px;
    border-radius: 5px;
  }
  .social-media-rn{
    border-radius: 20px;
  }
  .social-media-logo{
    height: 20px;
    width: 20px;
  }
  .tooltip{
    font-size: 10px;
    padding: 1px 5px;
    bottom: 5px;
  }
  .social-media:hover .tooltip{
    right: 33px;
  }
  .social-media-rn:hover .tooltip,
  .social-media-sq:hover .tooltip{
    right: 35px;
    bottom: 5px;
  }
}